apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: grafana-pvc
  namespace: monitoring
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: ""        # StorageClass 없이 직접 PV 바인딩
  volumeName: grafana-pv      # 위에서 만든 PV 이름
