grafana:
  persistence:
    enabled: true
    type: pvc
    existingClaim: grafana-pvc
    accessModes:
      - ReadWriteOnce
    size: 10Gi
    storageClassName: ""

  initChownData:
    enabled: false
