apiVersion: v1
kind: PersistentVolume
metadata:
  name: grafana-pv
spec:
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: ""        # StorageClass 없이 사용
  hostPath:
    path: /data/grafana       # 1번에서 만든 디렉터리
