global:
  rbac:
    create: true

# =========================
# Prometheus Configuration
# =========================
prometheus:
  prometheusSpec:
    retention: 7d
    scrapeInterval: 30s
    evaluationInterval: 30s

  ingress:
    enabled: true
    ingressClassName: nginx
    hosts:
      - prometheus.team3
    paths:
      - /
    pathType: Prefix


# ======================
# Grafana Configuration
# ======================
grafana:
  # 관리자 계정 정보는 Secret으로 분리
  admin:
    existingSecret: grafana-admin-secret
    userKey: admin-user
    passwordKey: admin-password

  service:
    type: ClusterIP

  ingress:
    enabled: true
    ingressClassName: nginx
    hosts:
      - grafana.team3
    path: /
    pathType: Prefix

  defaultDashboardsEnabled: true

  persistence:
    enabled: true
    type: pvc
    existingClaim: grafana-pvc
    accessModes:
      - ReadWriteOnce
    size: 10Gi
    storageClassName: ""

    initChownData:
      enabled: false
